<ul>
  <% entries.first(40).each do |entry| %>
  <li class="<%= feed['theme'] %>">
  <% p entry %>
    <a href="<%= find_url(entry) %>" target="_blank" title="<%= clean (entry.summary ? entry.summary : entry.content) %>">
      <i class="fas fa-angle-right"></i> <%= clean(entry.title) %>
    </a>
    <% unless entry.author.nil? %>
    <small>
      by <span class="author" title="This article was published on <%= timestamp(entry.published) %>."><%= uppercase(entry.author) %></span>
    </small>
    <% end %>
  </li>
  <% end %>
</ul>
