<% entries.each do |entry| %>
  <li class="<%= theme %>">
    <a href="<%= find_url(entry) %>" target="_blank" title="<%= clean(entry.summary) %>">
      <!-- published on <%= timestamp(entry.published) %> -->
      &rsaquo; <%= clean(entry.title) %>
      <% unless entry.author.nil? %>
        <small>
          by <span class="author"><%= uppercase(entry.author) %></span>
        </small>
      <% end %>
    </a>
  </li>
<% end %>
