<div class="cell large-auto" style="background-color: <%= feed['bgcolor'] %>">
  <h1 class="<%= feed['theme'] %>">
    <a href="<%= feed['web'] %>" target="_blank">
      <i class="fas fa-rss-square"></i> <%= feed['name'] %>
    </a>
  </h1>
  <%= partial (feed['podcast'] ? :podcasts : :entries), feed: feed, entries: entries %>
</div>
