<% entries.each do |entry| %>
  <li class="<%= theme %>">
    <a href="<%= entry.url %>" target="_blank" title="<%= clean(enumerate(entry.summary)) %>">
      <!-- published on <%= timestamp(entry.published) %> -->
      &rsaquo; <%= clean(entry.itunes_subtitle) %>
      <% unless entry.author.nil? %>
        <small>
          by <span class="author"><%= uppercase(entry.itunes_author) %></span>
        </small>
      <% end %>
    </a>
    <a href="<%= entry.entry_id %>" target="_blank" title="Listen to podcast (Duration: <%= entry.itunes_duration %>)" class="<%= theme %>">
      <img src="<%= @prefix %>/audio.png" width="16" height="16" alt="" />
    </a>
  </li>
<% end %>
